<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Order</title>
</head>
<body>
<h1>Add Order</h1>
<a th:href="@{/orders/list}">Back to Order List</a>
<form th:action="@{/orders/add}" th:object="${order}" method="post">
    <label for="count">Count (*100)</label>
    <input type="number" id="count" th:field="*{count}" required name="count"/>

    <label for="stock">Stock</label>
    <input type="text" id="stock" th:field="*{stock}" required name="stock"/>

    <label for="account">Account</label>
    <input type="text" id="account" th:field="*{account}" required name="account"/>

    <label for="action">Action</label>
    <select id="action" th:field="*{action}" required name="action">
        <option th:each="act : ${actions}" th:value="${act}" th:text="${act}"></option>
    </select>

    <button type="submit">Submit</button>
</form>
</body>
</html>